  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 85%;
    margin: auto;
    font-size: 30px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}