@mixin flex_display {
    display: flex;
    flex-direction: row;
}


@mixin button_jumbo {
    color: rgb(255, 255, 255);
    background-color: #3f5dba;
    border: 1px solid rgb(0, 0, 0);
    padding: 6px;
}

